<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>YoGo</title>

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">YoGo</div>

                <nav class="nav">
                    <a class="nav__link" href="#directions">Направления</a>
                    <a class="nav__link" href="#subscriptions">Абонементы</a>
                    <a class="nav__link" href="#about_us">О нас</a>
                </nav>
            </div>
        </div>
    </header>
    <section class="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__subtitle">Почувствуй расслабление в своем теле</h2>
                <h1 class="intro__title">WELCOME TO YOGO</h1>

                <a class="button" href="#trial_lesson">Пробное занятие</a>
            </div>
        </div>
    </section>
    <a name="directions"></a>
    <section class="section">
        <div class="container">
            <div class="destinations__header">
                <h1 class="destinations__title">Направления</h1>
                <div class="destinations__text">
                    В нашей студии найдет себя и новичок, и опытный йог. Все наши инструкторы сертифицированы и смогут
                    подобрать занятия которые подойдут именно вам.<br>
                    Здесь можно выбрать направление по душе – от традиционной хатха-йоги и кундалини-йоги до
                    нетрадиционных – например, йога в гамаках или barre.
                    Мы поможем вам научиться чувствовать свое тело. Найти баланс между разумом и эмоциями.
                </div>
            </div>
            <div class="destinations">
                <div class="destination__first-card">
                    <div class="destination__first-card_image">
                        <img src="/assets/img/Card_1.jpg" alt="image">
                    </div>
                    <div class="destination__first-card__info">
                        <div class="destination__first-card__text">
                            <div>Хатха-йога</div>
                            <div>
                                <p>Пн, Ср, Пт – с 12:00 до 15:00</p>
                                <p>Вт, Чт – с 18:00 до 21:00</p>
                            </div>
                            <div>
                                <p>Инструктор</p>
                                <p>Емельянова Полина</p>
                            </div>
                        </div>
                        <a class="destination__first-card__button" href="#"></a>
                    </div>
                </div>

                <div class="destination__card-wrapper">
                    <div class="destination__second-card">
                        <div class="destination__first-card_image">
                            <img src="/assets/img/Card_2.jpg" alt="image">
                        </div>
                        <div class="destination__second-card__text">
                            <div>Ашатанга-йога</div>
                            <div>
                                <p>Пн, Ср, Пт – с 11:00 до 14:00</p>
                                <p>Вт, Чт – с 19:00 до 21:00</p>
                            </div>
                            <div>
                                <p>Инструктор</p>
                                <p>Емельянова Полина</p>
                            </div>
                        </div>
                        <a class="destination__second-card__button" href="#"></a>
                    </div>
                    <div class="destination__third-card">
                        <div class="destination__third-card_image">
                            <img src="/assets/img/Card_3.jpg" alt="image">
                        </div>
                        <div class="destination__third-card__text">
                            <div>Кундалини-йога</div>
                            <div>
                                <p>Пн, Ср, Пт – с 12:00 до 15:00</p>
                                <p>Вт, Чт – с 18:00 до 21:00</p>
                            </div>
                            <div>
                                <p>Инструктор</p>
                                <p>Емельянова Полина</p>
                            </div>
                        </div>
                        <a class="destination__third-card__button" href="#"></a>
                    </div>
                    <div class="destination__fourth-card">
                        <a class="destination__see-more__button" href="#">Смотреть больше</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a name="subscriptions"></a>
    <section class="subscription">
        <div class="container">
            <div class="destinations__header">
                <h1 class="section__title">Абонементы</h1>
            </div>
            <div>
                <ul class="subscription__plans">
                    <li class="month">1 месяц</li>
                    <li class="six_month">6 месяцев</li>
                    <li class="year">12 месяцев</li>
                </ul>
                <div class="subscription__cards">
                    <div class="subscription__cards-item">
                        <div class="card__title">Утро</div>
                        <div class="card__description">
                            <span>Посещение</span>
                            <span>с 11:00 до 16:00</span>
                        </div>
                        <div class="card__price">1 300 ₽</div>
                        <a class="card__button" href="#trial_lesson">Заказать абонемент</a>
                    </div>

                    <div class="subscription__cards-item">
                        <div class="card__title">Безлимит</div>
                        <div class="card__description">
                            <span>Посещение не ограничено</span>
                            <span>по времени</span>
                        </div>
                        <div class="card__price">2 800 ₽</div>
                        <a class="card__button" href="#trial_lesson">Заказать абонемент</a>
                    </div>

                    <div class="subscription__cards-item">
                        <div class="card__title">Вечер</div>
                        <div class="card__description">
                            <span>Посещение</span>
                            <span>с 17:00 до 21:00</span>
                        </div>
                        <div class="card__price">2 800 ₽</div>
                        <a class="card__button" href="#trial_lesson">Заказать абонемент</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a name="about_us"></a>
    <section class="section">
        <div class="container">
            <div class="destinations__header">
                <h1 class="section__title">Наша команда</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="team">
                <div class="person__block">
                    <div class="person">
                        <img class="person__image" src="/assets/img/person.jpg" alt="image">
                        <div class="person__info">
                            <p>Инструктор</p>
                            <p>Сергей Попов</p>
                        </div>
                        <div class="person__yoga-type">Хатха-йога</div>
                        <a class="person__inst-link" href="#">
                            <img src="">
                        </a>
                        <a class="person__details" href="#">Подробнее</a>
                    </div>

                    <div class="person">
                        <div class="person__image"><img src="/assets/img/person.jpg" alt="image"></div>
                        <div class="person__info">
                            <p>Инструктор</p>
                            <p>Сергей Попов</p>
                        </div>
                        <div class="person__yoga-type">Хатха-йога</div>
                        <a class="person__inst-link" href="#">
                            <img src="">
                        </a>
                        <a class="person__details" href="#">Подробнее</a>
                    </div>

                    <div class="person">
                        <div class="person__image"><img src="/assets/img/person.jpg" alt="image"></div>
                        <div class="person__info">
                            <p>Инструктор</p>
                            <p>Сергей Попов</p>
                        </div>
                        <div class="person__yoga-type">Хатха-йога</div>
                        <a class="person__inst-link" href="#">
                            <img src="">
                        </a>
                        <a class="person__details" href="#">Подробнее</a>
                    </div>
                </div>

                <div class="details__text">
                    <div>Сергей Попов</div>
                    <div>Опыт преподавания: 8 лет</div>
                    <div>
                        <br>Образование и опыт работы: Практикует с 2011 года, является
                        сертифицированным инструктором по флоу- йоге. Большой опыт преподавания
                        йоги для начинающих и продолжающих.
                        <br>Обучался в Индии (International Association of Yoga: classical yoga,
                        master of principles yoga therapy), Непале (опыт медитативных
                        и дыхательных техник, проживание в Ашраме), Москва (Аштанга йога
                        центр 108 А. Константинова), Московский центр классической
                        йоги Виктора Бойко.
                        <br>Сертифицированный инструктор по фитнесу и йоге (БГУФК),
                        по массажу (Оздоровительный Витал – центр №401).
                        <br>Организатор и участник многочисленных конвенций
                        и семинаров по йоге, медитативным техникам
                        и здоровому питанию.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="destinations__header">
                <h1 class="section__title">Отзывы</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="feedback">
                <div class="feedback__card">
                    <div class="feedback__card__left">
                        <div class="feedback__text">
                            <br>Хожу на йогу вечером, чтобы расслабиться
                            после тяжелого трудового дня. И после занятий
                            наступает спокойствие!
                            <br>
                            <br>Йога это отличный способ быстро
                            и качественно расслабиться.
                            Спасибо инструктору Марине.
                        </div>
                        <div class="feedback__user-info">
                            <img class="feedback_user-info__image" src="/assets/img/person.jpg" alt="image">
                            <div class="feedback__user-info__text">
                                <div>Сергей Попов</div>
                                <div>16 мая 2018</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feedback__card">
                    <div class="feedback__card__right">
                        <div class="feedback__text">
                            <br>Хожу на йогу вечером, чтобы расслабиться
                            после тяжелого трудового дня. И после занятий
                            наступает спокойствие!
                            <br>
                            <br>Йога это отличный способ быстро
                            и качественно расслабиться.
                            Спасибо инструктору Марине.
                        </div>
                        <div class="feedback__user-info">
                            <img src="/assets/img/person.jpg" alt="image">
                            <div>
                                <div>Сергей Попов</div>
                                <div>16 мая 2018</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a name="trial_lesson"></a>
    <section class="footer">
        <div class="container">
            <div class="footer__blocks">
                <div class="footer__info">
                    <div>
                        <p>
                            <br>Адрес:
                            <br>Московский проспект, 22
                        </p>
                        <p>
                            <br>График работы:
                            <br>Пн-Вс с 11:00 до 21:00
                        </p>
                    </div>
                    <div>
                        <p>
                            <br>Телефон:
                            <br>8 (812) 690-10-10
                        </p>
                        <p>
                            <br>Email:
                            <br>yogo@gmail.com
                        </p>
                    </div>
                    <div>
                        <p class="person__"></p>
                    </div>
                </div>

                <form method="POST" action="/registr" class="footer__form">
                    <div class="form__title">Запишитесь на бесплатное пробное занятие</div>
                    <div class="form__group">
                        <input class="form__input" id="name" name="Name" required>
                        <p class="form__label">Ваше имя</p>
                    </div>
                    <div class="form__group">
                        <input class="form__input" id="inp" name="Phone" maxlength="17" required type="text">
                        <p class="form__label">Ваш телефон</p>
                    </div>
                    <button type="submit">Оставить заявку</button>
                </form>

            </div>
        </div>
        </div>
    </section>
    <section class="after-footer"></section>
    <script src="/script/form.js"></script>
</body>

</html>