body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #8E80A9;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../assets/img/mainWindow.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;

}

.intro__title {
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 50px #8E80A9;
    line-height: 1.2;

}

.intro__suptitle {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    color: #8E80A9;
    font-style: normal;
    font-weight: normal;
}


/* Header */
.header {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #8E80A9;
}

/*Nav*/
.nav {
    font-style: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #8E80A9;
    text-decoration: none;
    transition: colors .2s linear;
}

.nav__link:hover {
    color: white;
}

/* Button */

.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 20px;
    border: 3px solid rgba(230, 92, 122, 0.822);
    margin: 80px auto;
    box-shadow: 0px 1px 10px white;

    font-size: 14px;
    font-weight: 700;
    color: rgba(230, 92, 122, 0.822);
    text-shadow: 0px 1px 10px white;

    transition: background .1s linear, color .1s linear;

}

.button:hover {
    background-color: #fff;
    color: rgba(230, 92, 122, 0.822);
}

/* Section */

.section {
    padding: 0;
    background: #FCF8FE;

}

.section_header {
    width: 100%;
    max-width: 925px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}


/*Card*/
body {
    background-color: #f2f2f2;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */

.property-card {
    height: 18em;
    width: 14em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image {
    height: 6em;
    width: 14em;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Bottom Card Section */

.property-description {
    background-color: #FAFAFC;
    height: 12em;
    width: 14em;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}

/* Social Icons */

.property-social-icons {
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 1em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description {
    height: 0em;
    padding: 0px 1em;
}

.property-card:hover .property-image {
    height: 18em;
}

.property-card:hover .property-social-icons {
    background-color: white;
}

.property-card:hover .property-social-icons:hover {
    background-color: blue;
    cursor: pointer;
}


/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/

.destinations {
    display: grid;
    grid-template-columns: 366px 521px;
    grid-column-gap: 34px;
    justify-content: center;
}

.destinations .destination__card-wrapper {
    display: grid;
    grid-template-rows: 180px 180px 77px;
    grid-row-gap: 28px;
}

.destinations .destination__first-card {
    background-color: red;
}

.destinations .destination__second-card {
    background-color: green;
}

.destinations .destination__third-card {
    background-color: blue;
}

.destinations .destination__fourth-card {
    background-color: yellow;
    margin-top: 29px;
}