body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #8E80A9;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../assets/img/mainWindow.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;

}

.intro__title {
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 50px #8E80A9;
    line-height: 1.2;

}

.intro__suptitle {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    color: #8E80A9;
    font-style: normal;
    font-weight: normal;
}


/* Header */
.header {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #8E80A9;
}

/*Nav*/
.nav {
    font-style: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #8E80A9;
    text-decoration: none;
    transition: colors .2s linear;
}

.nav__link:hover {
    color: white;
}

/* Button */

.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 20px;
    border: 3px solid rgba(230, 92, 122, 0.822);
    margin: 80px auto;
    box-shadow: 0px 1px 10px white;

    font-size: 14px;
    font-weight: 700;
    color: rgba(230, 92, 122, 0.822);
    text-shadow: 0px 1px 10px white;

    transition: background .1s linear, color .1s linear;

}

.button:hover {
    background-color: #fff;
    color: rgba(230, 92, 122, 0.822);
}

/* Section */

.section {
    padding: 0;
    background: #FCF8FE;

}

.section_header {
    width: 100%;
    max-width: 925px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}


/*Card*/
body {
    background-color: #f2f2f2;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinations {
    display: grid;
    grid-template-columns: 366px 521px;
    grid-column-gap: 34px;
    justify-content: center;
}

.destinations .destination__card-wrapper {
    display: grid;
    grid-template-rows: 180px 180px 77px;
    grid-row-gap: 28px;
}

.destinations .destination__first-card {
    background-color: white;
    display: grid;
    grid-template-rows: 311px 182px;
}

.destination__first-card__info {
    display: grid;
    grid-template-columns: 302px 64px;
}

.destination__first-card__info .destination__first-card__text {
    padding: 42px 0 0 42px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

.destination__first-card__text div:nth-of-type(1) {
    font-weight: bold;
    font-size: 15px;
}

.destination__first-card__text div:nth-of-type(3) {
    font-size: 12px;
    color: #E65C7B
}

.destination__first-card__button {
    width: 64px;
    height: 100%;
    margin:auto;
    background: #8E80A9;
    position: relative;
}

.destination__first-card__button:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 1px;
    left: 27px;
    top: 83px;
    height: 12px;
    transform: rotate(-45deg);
}

.destination__first-card__button:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 1px;
    left: 27px;
    top: 91px;
    height: 12px;
    transform: rotate(45deg);
}

.destinations .destination__second-card {
    background-color: green;
}

.destinations .destination__third-card {
    background-color: blue;
}

.destinations .destination__fourth-card {
    background-color: yellow;
    margin-top: 29px;
}